<div class="section actions" id="section-actions">
    <div class="main-actions">
        <a href="rezervace.php" id="btn-seznam-objednavek" class="btn-round btn-medium btn-white-yellow">« Seznam</a>
        <a href="rezervace.php?typ=rezervace&pozadavek=new-objednavka" id="btn-nova-objednavka" class="btn-round btn-medium btn-white-yellow">Vytvoøit novou</a>
    </div>

    <div class="specific-actions">
        <a id="btn-help" class="btn-round btn-medium btn-white-yellow"><span class="label">Nápovìda</span></a>
        <button id="btn-toggle-all" class="btn-round btn-medium btn-white-yellow icon-rotate-medium"><span class="label" id="icon-rotate-label-rozbalit">Rozbalit</span><span class="btn-toggle rotate-right-90 trans-200-eio">»</span></button>
    </div>
    <div class="clearfix"></div>
</div>