<div id="popupValidation" class="popup">
    <div class="header">Error header</div>
    <div class="body">
        <div class="main-content">

        </div>
        <div class="row actions">
            <input type="button" value="Ok" name="ok" class="btn-small btn-round btn-green"/>
        </div>
    </div>
</div>