<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template fo r travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>{% block title %}SLANtour{% endblock title %}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/html-template/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/html-template/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/html-template/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/html-template/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/html-template/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/html-template/css/bootstrap.css" rel="stylesheet">
    <link href="/html-template/css/style.css" rel="stylesheet">
	<link href="/html-template/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="datepicker_mobile_full"><!-- Remove this class to disable datepicker full on mobile -->
		
	<div id="page">
		
	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<div id="logo">
			<a href="/html-template/index.html">
				<img src="/img/logo.png" height="36" alt="" class="logo_normal">
				<img src="/img/logo.png" height="36" alt="" class="logo_sticky">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="/html-template/cart-1.html" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
			<li><a href="/html-template/#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
			<li><a href="/html-template/wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="/html-template/#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="/html-template/#0">Destinace</a></span>
					<ul>
						<li><a href="/html-template/index.html">Home Default</a></li>
						<li>
							<span><a href="/html-template/#0">Sliders - Parallax</a></span>
							<ul>
								<li><a href="/html-template/index-11.html">Revolution Slider 1</a></li>
								<li><a href="/html-template/index-18.html">Revolution Slider 2</a></li>
								<li><a href="/html-template/index-2.html">Flex Slider</a></li>
								<li><a href="/html-template/index-4.html">Layer Slider</a></li>
								<li><a href="/html-template/index-12.html">Parallax Youtube</a></li>
								<li><a href="/html-template/index-13.html">Parallax Vimeo</a></li>
								<li><a href="/html-template/index-14.html">Parallax Mp4 Video</a></li>
								<li><a href="/html-template/index-15.html">Parallax Video Fullscreen</a></li>
								<li><a href="/html-template/index-16.html">Parallax Image</a></li>
							</ul>
						</li>
						<li><a href="/html-template/index-17.html">Text Rotator</a></li>
						<li><a href="/html-template/index-3.html">Video Fallback Mobile</a></li>
						<li><a href="/html-template/index-5.html">Search 2</a></li>
						<li><a href="/html-template/index-10.html">Search 3 <strong class="badge badge-danger">New!</strong></a></li>
						<li><a href="/html-template/index-7.html">Search 4</a></li>
						<li><a href="/html-template/index-6.html">GDPR (EU law)</a></li>
                        <li><a href="/html-template/index-8.html">Address Autocomplete</a></li>
                        <li><a href="/html-template/index-9.html">Home AirBnb</a></li>
					</ul>
				</li>
				<li><span><a href="/html-template/#0">Typy Zájezdů</a></span>
					<ul>
						<li>
							<span><a href="/html-template/#0">Tours Grid</a></span>
							<ul>
								<li><a href="/html-template/tours-grid-isotope.html">Tours Grid Isotope</a></li>
								<li><a href="/html-template/tours-grid-sidebar.html">Tours Grid Sidebar</a></li>
								<li><a href="/html-template/tours-grid-sidebar-2.html">Tours Grid Sidebar 2</a></li>
								<li><a href="/html-template/tours-grid.html">Tours Grid Simple</a></li>
							</ul>
						</li>
						<li>
							<span><a href="/html-template/#0">Tours List</a></span>
							<ul>
								<li><a href="/html-template/tours-list-isotope.html">Tours List Isotope</a></li>
								<li><a href="/html-template/tours-list-sidebar.html">Tours List Sidebar</a></li>
								<li><a href="/html-template/tours-list-sidebar-2.html">Tours List Sidebar 2</a></li>
								<li><a href="/html-template/tours-list.html">Tours List Simple</a></li>
							</ul>
						</li>
						<li><a href="/html-template/tours-half-screen-map.html">Tours Half Screen Map</a></li>
						<li><a href="/html-template/tour-detail.html">Tour Detail</a></li>
						<li><a href="/html-template/detail-working-contact-form.html">Detail Contact Form <strong class="badge badge-danger">New!</strong></a></li>
						<li>
							<span><a href="/html-template/#0">Open Street Map</a></span>
							<ul>
								<li><a href="/html-template/tours-half-screen-map-leaflet.html">Tours Half Screen Map</a></li>
								<li><a href="/html-template/tours-list-isotope-leaflet.html">Tours Grid Isotope</a></li>
								<li><a href="/html-template/tours-list-sidebar-leaflet.html">Tours Grid Sidebar</a></li>
								<li><a href="/html-template/tours-list-sidebar-2-leaflet.html">Tours Grid Sidebar 2</a></li>
								<li><a href="/html-template/tours-list-leaflet.html">Tours Grid Simple</a></li>
								<li><a href="/html-template/tours-list-isotope-leaflet.html">Tours List Isotope</a></li>
								<li><a href="/html-template/tours-list-sidebar-leaflet.html">Tours List Sidebar</a></li>
								<li><a href="/html-template/tours-list-sidebar-2-leaflet.html">Tours List Sidebar 2</a></li>
								<li><a href="/html-template/tours-list-leaflet.html">Tours List Simple</a></li>
								<li><a href="/html-template/tour-detail-leaflet.html">Tour Detail</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><span><a href="/html-template/#0">Novinky</a></span>
					<ul>
						<li>
							<span><a href="/html-template/#0">Hotel Grid</a></span>
							<ul>
								<li><a href="/html-template/hotels-grid-isotope.html">Hotel Grid Isotope</a></li>
								<li><a href="/html-template/hotels-grid-sidebar.html">Hotel Grid Sidebar</a></li>
								<li><a href="/html-template/hotels-grid-sidebar-2.html">Hotel Grid Sidebar 2</a></li>
								<li><a href="/html-template/hotels-grid.html">Hotel Grid Simple</a></li>
							</ul>
						</li>
						<li>
							<span><a href="/html-template/#0">Hotel List</a></span>
							<ul>
								<li><a href="/html-template/hotels-list-isotope.html">Hotel List Isotope</a></li>
								<li><a href="/html-template/hotels-list-sidebar.html">Hotel List Sidebar</a></li>
								<li><a href="/html-template/hotels-list-sidebar-2.html">Hotel List Sidebar 2</a></li>
								<li><a href="/html-template/hotels-list.html">Hotel List Simple</a></li>
							</ul>
						</li>
						<li><a href="/html-template/hotels-half-screen-map.html">Hotel Half Screen Map</a></li>
						<li><a href="/html-template/hotel-detail.html">Hotel Detail</a></li>
					</ul>
				</li>
				<li><span><a href="/html-template/#0">O Nás</a></span>
					<ul>
						<li>
							<span><a href="/html-template/#0">Restaurant Grid</a></span>
							<ul>
								<li><a href="/html-template/restaurants-grid-isotope.html">Restaurant Grid Isotope</a></li>
								<li><a href="/html-template/restaurants-grid-sidebar.html">Restaurant Grid Sidebar</a></li>
								<li><a href="/html-template/restaurants-grid-sidebar-2.html">Restaurant Grid Sidebar 2</a></li>
								<li><a href="/html-template/restaurants-grid.html">Restaurant Grid simple</a></li>
							</ul>
						</li>
						<li>
							<span><a href="/html-template/#0">Restaurant List</a></span>
							<ul>
								<li><a href="/html-template/restaurants-list-isotope.html">Restaurant List Isotope</a></li>
								<li><a href="/html-template/restaurants-list-sidebar.html">Restaurant List Sidebar</a></li>
								<li><a href="/html-template/restaurants-list-sidebar-2.html">Restaurant List Sidebar 2</a></li>
								<li><a href="/html-template/restaurants-list.html">Restaurant List Simple</a></li>
							</ul>
						</li>
						<li><a href="/html-template/restaurants-half-screen-map.html">Half Screen Map</a></li>
						<li><a href="/html-template/restaurant-detail.html">Restaurant Detail</a></li>
					</ul>
				</li>

			</ul>
		</nav>
	</header>
	<!-- /header -->
	
    
	<main>
		{% block main %}
            
        {% endblock main %}
	</main>
	<!-- /main -->

	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="/html-template/img/logo.svg" width="150" height="36" alt=""></p>
					<p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
					<div class="follow_us">
						<ul>
							<li>Follow us</li>
							<li><a href="/html-template/#0"><i class="ti-facebook"></i></a></li>
							<li><a href="/html-template/#0"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="/html-template/#0"><i class="ti-google"></i></a></li>
							<li><a href="/html-template/#0"><i class="ti-pinterest"></i></a></li>
							<li><a href="/html-template/#0"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="/html-template/about.html">About</a></li>
						<li><a href="/html-template/login.html">Login</a></li>
						<li><a href="/html-template/register.html">Register</a></li>
						<li><a href="/html-template/blog.html">News &amp; Events</a></li>
						<li><a href="/html-template/contacts.html">Contacts</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="/html-template/tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="/html-template/mailto:info@Panagea.com"><i class="ti-email"></i> info@Panagea.com</a></li>
					</ul>
					<div id="newsletter">
					<h6>Newsletter</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
							<input type="submit" value="Submit" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="footer-selector">
						<li>
							<div class="styled-select" id="lang-selector">
								<select>
									<option value="English" selected>English</option>
									<option value="French">French</option>
									<option value="Spanish">Spanish</option>
									<option value="Russian">Russian</option>
								</select>
							</div>
						</li>
						<li>
							<div class="styled-select" id="currency-selector">
								<select>
									<option value="US Dollars" selected>US Dollars</option>
									<option value="Euro">Euro</option>
								</select>
							</div>
						</li>
						<li><img src="/html-template/img/cards_all.svg" alt=""></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="/html-template/#0">Terms and conditions</a></li>
						<li><a href="/html-template/#0">Privacy</a></li>
						<li><span>© 2019 Panagea</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="/html-template/js/common_scripts.js"></script>
    <script src="/html-template/js/main.js"></script>
	<script src="/html-template/assets/validate.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="/html-template/js/jarallax.min.js"></script>
	<script src="/html-template/js/jarallax-video.min.js"></script>

    {% block javascripts %}{% endblock javascripts %}
	
	<!-- DATEPICKER  -->
	<script>
	$(function() {
	  'use strict';
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  minDate:new Date(),
		  locale: {
			  cancelLabel: 'Clear'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });
	});
	</script>
	
	<!-- INPUT QUANTITY  -->
	<script src="/html-template/js/input_qty.js"></script>
	
</body>
</html>