{% extends "_base.html.twig" %}

{% block meta %}
<meta name="description" content="SLANtour - Časté dotazy - zde najdete odpovědi na nejčastější otázky týkající se objednávek, plateb, záloh a dalších informací o našich zájezdech.">

<meta name="keywords" content="časté dotazy, FAQ, objednávka zájezdu, platba zájezdu, záloha na zájezd, pokyny k zájezdu, pojištění zájezdu, SLANtour">
{% endblock meta %}

{% block title %}SLANtour - Časté dotazy{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Časté dotazy</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

{% include "_breadcrumbs.html.twig" %}

<div class="container margin_60_35">

    <div class="row">
        <aside class="col-lg-3" id="sidebar">
                <div class="box_style_cat" id="faq_box">
                    <ul id="cat_nav">
                        <li><a href="#objednavka" class="active"><i class="icon_document_alt"></i>Přihláška na zájezd</a></li>
                        <li><a href="#platba"><i class="icon_document_alt"></i>Platba</a></li>
                        <li><a href="#zaloha"><i class="icon_document_alt"></i>Záloha</a></li>
                        <li><a href="#pokyny"><i class="icon_document_alt"></i>Pokyny</a></li>
                        <li><a href="#pojisteni"><i class="icon_document_alt"></i>Pojištění</a></li>
                    </ul>
                </div>
                <!--/sticky -->
        </aside>
        <!--/aside -->
        
        <div class="col-lg-9" id="faq">
            <h4 class="nomargin_top">Přihláška na zájezd</h4>
            <div role="tablist" class="add_bottom_45" id="objednavka">
                <p>Nejjednodušším způsobem je pro většinu klientů objednávka přes naše webové stránky.
                    Z vyplnění on-line formuláře není třeba mít žádné obavy. Případné nejasnosti či nesprávné vyplnění údajů 
                    lze vždy následně opravit  a upřesnit emailem či telefonicky.</p>
                <p>Zájezd či pobyt můžete rovněž objednat přímo v našich prodejnách ve Slaném či v Roudnici nad Labem. 
                    Využít můžete též některého z našich provizních prodejců, tedy cestovních agentur, po celé ČR.</p>
            </div>

            <h4 class="nomargin_top">Platba</h4>
            <div role="tablist" class="add_bottom_45" id="platba">
                Úhradu zájezdu můžete provést několika způsoby: 
                <ul>
                    <li>hotově na některé z našich poboček</li>
                    <li>bankovním převodem při objednávce zájezdu přes náš web</li>
                    <li>platební kartou při objednávce přes náš web</li>
                    <li>v hotovosti či bankovním převodem při objednávce zájezdu u některého z našich prodejců</li>
                </ul>
            </div>

            <h4 class="nomargin_top">Záloha a doplatek</h4>
            <div role="tablist" class="add_bottom_45" id="zaloha">
                Výše zálohy při objednávce zájezdu či pobytu závisí jak na typu zájezdu, tak na tom s jakým předstihem daný zájezd objednáváte: 
                <ul>
                    <li>u leteckých zájezdů je výše zálohy 50% z ceny zájezdu, doplatek ceny pak 60 dní před odletem</li>
                    <li>u autokarových a vlakových zájezdů, jakož i u pobytů s vlastní dopravou je výše zálohy 30% a  doplatek ceny pak 45 dní před odjezdem zájezdu</li>
                    <li>u jednodenních zájezdů, zpravidla s cenou do 1500 Kč, je platba jednorázová při objednávce zájezdu</li>
                    <li>při objednávce zájezdu v delším předtermínu (více než 12 měsíců) je požadována záloha pouze ve výši 10% z ceny zájezdu</li>
                </ul>
            </div>

            <h4 class="nomargin_top">Pokyny</h4>
            <div role="tablist" class="add_bottom_45" id="pokyny">
                <p>Pokyny k zájezdu, vouchery na ubytování a další dokumenty k odbavení (letenky, doklady k pojištění apod.) 
                    od nás obdržíte zpravidla 7-10 dní před odjezdem zájezdu či nástupem na ubytování.</p>
            </div>

            <h4 class="nomargin_top">Pojištění</h4>
            <div role="tablist" class="add_bottom_45" id="pojisteni">
                <p>U většiny zájezdů a pobytů nabízíme možnost rovněž objednat pojištění. Rozsah pojištění je uveden v dokumentech, 
                    které najdete u popisu zájezdu. Nejčastěji toto pojištění zahrnuje pojištění léčebných výloh v 
                    zahraničí a dále pak pojištění případného storna zájezdu. Pokud se rozhodnete využít naši nabídku pojištění, 
                    je třeba jej objednat současně s objednáním zájezdu či pobytu. </p>
            </div>

        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>
<!--/container-->

{% endblock main %}

{% block javascripts %}
{% endblock javascripts %}