{% extends "_base.html.twig" %}

{% block title %}SLANtour - Kontakty{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock stylesheets %}

{% block main %}

<section class="hero_in contacts">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Kontakty</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="contact_info">
    <div class="container">
        <ul class="clearfix">
            <li>
                <i class="pe-7s-map-marker"></i>
                <h4>Adresa</h4>
                <span> SLAN tour, s.r.o.<br>Wilsonova 597, 27401 Slaný</span>
            </li>
            <li>
                <i class="pe-7s-mail-open-file"></i>
                <h4>Email</h4>
                <span><a href="mailto:info@slantour.cz">info@slantour.cz</a></span>

            </li>
            <li>
                <i class="pe-7s-phone"></i>
                <h4>Telefon</h4>
                <span>
                    <a href="tel:+420312522704">+420 312 522 704</a> <a href="tel:+420604255018">+420 604 255 018</a><br>
                    <small>Pondělí - Pátek, 8:00 - 17:00</small>
                </span>
            </li>
        </ul>
    </div>
</div>
<!--/contact_info-->

<div class="bg_color_1">
    
    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_80_55">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div id="map_contact" class="map_contact">
                    


                </div>
                <!-- /map -->
            </div>
            <div class="col-lg-6">

                <div class="shop">
                    <h5>Centrála CK SLAN tour</h5>
                    <ul>
                        <li>
                            <i class="pe-7s-map-marker"></i>
                            <a href="https://maps.app.goo.gl/GtEsVKrCn4QPBo189">Wilsonova 597, Slaný</a>
                        </li>
                        <li>
                            <i class="pe-7s-phone"></i>
                            <a href="tel:+420312522704">+420 312 522 704</a> 
                        </li>
                        <li>
                            <i class="pe-7s-mail-open-file"></i>
                            <a href="mailto:info@slantour.cz">info@slantour.cz</a>
                        </li>
                    </ul>
    
                    <table class="opening_days">
                        <tr>
                            <td>Pondělí - Pátek</td>
                            <td>08:00 - 17:00</td>
                        </tr>
                    </table>
                </div>

                <div class="shop">
                    <h5>Prodejna Slaný</h5>
                    <ul>
                        <li>
                            <i class="pe-7s-map-marker"></i>
                            <a href="https://maps.app.goo.gl/GtEsVKrCn4QPBo189">Wilsonova 597, Slaný</a>
                        </li>
                        <li>
                            <i class="pe-7s-phone"></i>
                            <a href="tel:+420312524174">+420 312 524 174</a> 
                        </li>
                        <li>
                            <i class="pe-7s-mail-open-file"></i>
                            <a href="mailto:pobslany@slantour.cz">pobslany@slantour.cz</a>
                        </li>
                    </ul>
    
                    <table class="opening_days">
                        <tr>
                            <td>Pondělí - Čtvrtek</td>
                            <td>08.30 - 12.00</td>
                            <td>12.30 – 17.00</td>
                        </tr>
                        <tr>
                            <td>Pátek</td>
                            <td>08.30 - 12.00</td>
                            <td>12.30 – 16.00</td>
                        </tr>
                    </table>
                </div>

                <div class="shop">
                    <h5>Prodejna Roudnice nad Labem</h5>
                    <ul>
                        <li>
                            <i class="pe-7s-map-marker"></i>
                            <a href="https://maps.app.goo.gl/UNoSjz61i5Ja9ivx5">Třída T.G. Masaryka 989, Roudnice n. L.</a>
                        </li>
                        <li>
                            <i class="pe-7s-phone"></i>
                            <a href="tel:+420608555732">+420 608 555 732</a> 
                        </li>
                        <li>
                            <i class="pe-7s-mail-open-file"></i>
                            <a href="mailto:slanrce@seznam.cz">slanrce@seznam.cz</a>
                        </li>
                    </ul>
    
                    <table class="opening_days">
                        <tr>
                            <td>Pondělí</td>
                            <td>08.00 - 12.00</td>
                            <td>12.30 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Úterý</td>
                            <td>08.00 - 12.00</td>
                            <td>12.30 - 15.00</td>
                        </tr>
                        <tr>
                            <td>Středa</td>
                            <td>08.00 - 12.00</td>
                            <td>12.30 - 16.30</td>
                        </tr>
                        <tr>
                            <td>Čtvrtek</td>
                            <td>08.00 - 12.00</td>
                            <td>12.30 - 15.00</td>
                        </tr>
                        <tr>
                            <td>Pátek</td>
                            <td>08.00 - 12.00</td>
                            <td>12.30 - 15.00</td>
                        </tr>
                    </table>
                </div>


                {# <h4>Send a message</h4>
                <p>Ex quem dicta delicata usu, zril vocibus maiestatis in qui.</p>
                <div id="message-contact"></div>
                <form method="post" action="assets/contact.php" id="contactform" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" id="name_contact" name="name_contact">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" type="text" id="lastname_contact" name="lastname_contact">
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" id="email_contact" name="email_contact">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone</label>
                                <input class="form-control" type="text" id="phone_contact" name="phone_contact">
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" id="message_contact" name="message_contact" style="height:150px;"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Are you human? 3 + 1 =</label>
                                <input class="form-control" type="text" id="verify_contact" name="verify_contact">
                            </div>
                        </div>
                    </div>
                    <p class="add_top_30"><input type="submit" value="Submit" class="btn_1 rounded" id="submit-contact"></p>
                </form> #}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->

{% endblock main %}

{% block javascripts_before %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock javascripts_before %}