{% extends "_base.html.twig" %}

{% block title %}SLANtour - Ohlasy{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Ohlasy klientů</h1>
        </div>
    </div>
</section>
<!--/hero_in-->



<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <section class="add_bottom_45">
            <h2>Ohlasy klientů</h2>
            <p class="main_description">
                Pochvala potěší každého. Ani my nejsme vyjímkou. Tak pište, pište, pište... A víte, že někteří klienti s námi vycestovali již více než 50x? Aktuální pořadí k 31.5.2024: Květoslava Pažoutková 102x, Iveta Nohejlová 83x, Alena Fialová 82x. Přidáte se?
            </p>

        </section>

        {% include "_reviews.html.twig" %}
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->

{% endblock main %}

{% block javascripts %}
{% endblock javascripts %}