{% extends "_base.html.twig" %}

{% block title %}SLANtour - O nás{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>O nás</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

{% include "_breadcrumbs.html.twig" %}

<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Proč si vybrat SLAN tour</h2>
        <p>To ještě asi nevíte.  Co byste však vědět měli ... </p>
        <p> SLAN tour je jednou z nejstarších českých soukromých cestovních kanceláří. Vznikla již v roce 1990 a  od té doby funguje nepřetržitě již více než 30 let. 
            </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-medal"></i>
                <h3>+ 100000 klientů</h3>
                <p>Za uplynulých více než 30 let s námi vycestovalo několik set tisíc klientů. Přesný počet nevíme a dnes jej patrně již nikdo nezjistí. Většina z nich s námi jezdí opakovaně. Vážíme si těch, kteří s námi byli již 10x, 20x či 30x. Ale nejsou vyjímkou ani ti, kteří s námi vycetovali již více než 50 krát. 
                    .</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-help2"></i>
                <h3>Finanční stabilita</h3>
                <p>Nemáme žádné půjčky, nikomu nic nedlužíme, daňě platíme včas a všichni naši zaměstnanci dostávají pravidelně svoji vyýplatu. Kdo to v tomlhle oboru může ještě říci ,,,,
                     </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-culture"></i>
                <h3>+ 500 míst</h3>
                <p>V naší nabídce najdete přes 500 míst nebo chcete-li, jak se odborně v cestonvím ruchu říká, destinací. Vybírat si můžete z více než 80 zemí světa na 4 kontinentech. 
                    Občas se samozřejmě tyto počty mění, ale můžeme říci, že naše nabídka je opravdu široká.<div class=""></div></p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-headphones"></i>
                <h3>Help Direct Line</h3>
                <p>Dovolat se do naší centrály je pro vás velmi snadné. Máme několik pevných i mobilních linek: 312520084, 604255018, ...  </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-credit"></i>
                <h3>Platby</h3>
                <p>S vašimi penězi nakládáme tak pečlivě, jako by byly naše vlastní. Zájezd můžete zaplatit osobně v našich prodejnách, nebo bankovním převodem pohodlně z domova, nebo platební kartou při objednání záejzdu.
                    </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-chat"></i>
                <h3>Chat</h3>
                <p>Můžete s námi hovořit i přes oblíbené chatovací boxy. Zatím stále ještě odoláváme experimentům s umělou inteligencí, takže máte jistotu, že komunikujete opravdu s živým člověkem. 
                    Ale nikdy neříkej nikdy... možná se to časem změní a zaměstnáme v naší centrále i nějakého superinteligentního robota, který tuhle práci vezme za nás. 
                     </p>
            </a>
        </div>
    </div>
    <!--/row-->
</div>
<!-- /container -->

<div class="bg_color_1">
    <div class="container margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Náš příběh</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6 wow" data-wow-offset="150">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>
                    <img src="../img/slantour-team.jpeg" class="img-fluid" alt="">
                </figure>
            </div>
            <div class="col-lg-5">
                <p>Lorem ipsum dolor sit amet, homero erroribus in cum. Cu eos <strong>scaevola probatus</strong>. Nam atqui intellegat ei, sed ex graece essent delectus. Autem consul eum ea. Duo cu fabulas nonumes contentiones, nihil voluptaria pro id. Has graeci deterruisset ad, est no primis detracto pertinax, at cum malis vitae facilisis.</p>
                <p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore <strong>percipitur definitiones</strong> ex, nihil utinam recusabo mel no. Dolores reprehendunt no sit, quo cu viris theophrastus. Sit unum efficiendi cu.</p>
                <p><em>CEO Marc Schumaker</em></p>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--/bg_color_1-->

<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Our founders</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Julia Holmes<em>CEO</em></h4>
                </div><img src="img/1_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Lucas Smith<em>Marketing</em></h4>
                </div><img src="img/2_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Paul Stephens<em>Business strategist</em></h4>
                </div><img src="img/3_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Pablo Himenez<em>Customer Service</em></h4>
                </div><img src="img/4_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Andrew Stuttgart<em>Admissions</em></h4>
                </div><img src="img/5_carousel.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /carousel -->
</div>
<!--/container-->

{% endblock main %}

{% block javascripts %}
{% endblock javascripts %}