{% extends "_base.html.twig" %}

{% block title %}SLANtour - O nás{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<section class="hero_in tour_list">
    <img src="../img/slantour-team.jpeg" alt="O nas">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>O nás</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

{% include "_breadcrumbs.html.twig" %}

<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Proč si vybrat SLAN tour</h2>
        <p> SLAN tour je jednou z nejstarších českých soukromých cestovních kanceláří. Vznikla již v roce 1990 a  od té doby funguje nepřetržitě již více než 30 let. 
            </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="top-icon pe-7s-medal"></i>
                <h3>+ 100000 klientů</h3>
                <p>Za uplynulých více než 30 let s námi vycestovalo několik set tisíc klientů. Přesný počet nevíme a dnes jej patrně již nikdo nezjistí. Vážíme si všech klientů, ať už s námi jedou poprvé či opakovaně. 
                    Obzváště nás ale těší přízeň těch, co s námi byli již 10x, 20x či 50x.
                    .</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="top-icon pe-7s-help2"></i>
                <h3>Finanční stabilita</h3>
                <p>Nemáme žádné půjčky, nikomu nic nedlužíme, daně platíme včas a všichni naši zaměstnanci dostávají pravidelně svoji výplatu. Kdo to v tomhle oboru může ještě říci...
                     </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="top-icon pe-7s-culture"></i>
                <h3>+ 500 míst</h3>
                <p>V naší nabídce najdete přes 500 míst nebo chcete-li, jak se odborně v cestonvím ruchu říká, destinací. Vybírat si můžete z více než 80 zemí světa na 4 kontinentech. 
                    Občas se samozřejmě tyto počty mění, ale můžeme říci, že naše nabídka je opravdu široká.<div class=""></div></p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box_feat">
                <i class="top-icon pe-7s-headphones"></i>
                <h3>Telefonické dotazy</h3>
                <p>Dovolat se do naší centrály je pro vás velmi snadné. Vaše případné dotazy rádi zodpovíme (Pondělí - Pátek, 08:00 - 17:00) na telefoním čísle <a href="tel:+420312522704"><i class="fas fa-phone"></i> +420 312 522 704</a>. 
                    <br><br>
                    Další kontakty naleznete <a href="/kontakty">zde</a>.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="top-icon pe-7s-credit"></i>
                <h3>Platby</h3>
                <p>S vašimi penězi nakládáme tak pečlivě, jako by byly naše vlastní. Zájezd můžete zaplatit osobně v našich prodejnách, nebo bankovním převodem pohodlně z domova, nebo platební kartou při objednání zájezdu.
                    </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="top-icon pe-7s-chat"></i>
                <h3>Chat</h3>
                <p>Můžete s námi hovořit i přes oblíbené chatovací boxy. Zatím stále ještě odoláváme experimentům s umělou inteligencí, takže máte jistotu, že komunikujete opravdu s živým člověkem. 
                    Ale nikdy neříkej nikdy... možná se to časem změní a zaměstnáme v naší centrále i nějakého superinteligentního robota, který tuhle práci vezme za nás. 
                     </p>
            </a>
        </div>
    </div>
    <!--/row-->
</div>
<!-- /container -->

<div class="bg_color_1">
    <div class="container margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Náš příběh</h2>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6 wow" data-wow-offset="150">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>
                    <img src="../img/slantour-team.jpeg" class="img-fluid" alt="Náš tým SLAN tour">
                </figure>
            </div>
            <div class="col-lg-5">
                <p>SLAN tour je v současné době <strong>nejstarší z českých cestovních kanceláří</strong>, které byly založeny po roce 1989. První zájezd CK SLAN tour se uskutečnil již v červnu 1990. Od té doby funguje nepřetržitě již čtyři desetiletí.</p>
                <p>V prvních letech se specializovala především na poznávací zájezdy a pobyty na Slovensku. Postupně však do svého portfolia zařadila lázeňské pobyty, zájezdy za sportem, eurovíkendy, exotické destinace, ale také např. speciální vlakové zájezdy či fly and drive programy.</p>
                <p><em>Ladislav Peška - zakladatel CK SLAN tour</em></p>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--/bg_color_1-->
{# 
<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Our founders</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Julia Holmes<em>CEO</em></h4>
                </div><img src="img/1_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Lucas Smith<em>Marketing</em></h4>
                </div><img src="img/2_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Paul Stephens<em>Business strategist</em></h4>
                </div><img src="img/3_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Pablo Himenez<em>Customer Service</em></h4>
                </div><img src="img/4_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Andrew Stuttgart<em>Admissions</em></h4>
                </div><img src="img/5_carousel.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /carousel -->
</div> #}
<!--/container-->

{% endblock main %}

{% block javascripts %}
{% endblock javascripts %}