{% extends "_base.html.twig" %}

{% block meta %}
<meta name="description" content="SLANtour - Slevy na zájezdy a pobyty. Využijte časové slevy, slevy pro stálé zákazníky, kolektivy a seniory. Získejte výhodné ceny na vaši dovolenou.">

<meta name="keywords" content="slevy, zájezdy, dovolená, časové slevy, slevy pro stálé zákazníky, slevy pro kolektivy, slevy pro seniory, výhodné ceny, cestování">
{% endblock meta %}

{% block title %}SLANtour | Slevy{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Slevy</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <section>
            <h3>Časová sleva</h3>
            <p>Včasná rezervace vám zaručí klid na přípravu na váš zájezd, větší možnost výběru termínu i pobytového 
                místa a nám naopak poskytne dostatek času pro zajištění všech vámi požadovaných služeb. 
                Vážíme si zákazníků, kteří si rezervují zájezd s větším předstihem a nabízíme jim velmi zajímavé slevy. 
                Specifikace těchto slev je dána jednotlivými katalogy a typy zájezdů a pohybuje se v rozmezí <strong>3 až 12%</strong>.</p>
        </section>
        <section>
            <h3>Slevy pro stále zákazníky</h3>
            <p>Vážíme si všech zákazníků, kteří se k nám vracejí či s námi cestují pravidelně. Klienti, kteří s námi cestují pravidelně, mohou využít <strong>2%-3% slevu</strong> z ceny zájezdu.</p>
        </section>
        <section>
            <h3>Slevy pro kolektivy</h3>
            





            <p>Chcete nám pomoci s přípravou zájezdu, máte organizační schopnosti, pracujete rádi ve prospěch kolektivu? Pak můžete využít našich výhodných slev či speciálních výhod při rezervaci skupiny osob.</p>
            <ul>
                <li>při rezervaci min. 7 osob - 25 % sleva pro objednavatele</li>
                <li>při rezervaci min. 13 osob - 50 % sleva pro objednavatele</li>
                <li>při rezervaci min. 21 osob - 1 místo zdarma</li>
                <li>při rezervaci min. 31 osob - 1,5 místa zdarma</li>
                <li>při rezervaci min. 42 osob - 2 místa zdarma a 5 % sleva z ceny zájezdu pro všech účastníky</li>
            </ul>
            <p>Slevy pro skupinu lze uplatnit pouze v případě, že skupina cestuje v termínu stanoveném katalogem a čerpá shodný program a služby.</p>
        </section>
        <section>
            <h3>Slevy pro seniory</h3>
            <p>Občanům starším 60 let poskytujeme u některých našich zájezdů slevu ve výši 2-5 % v případě, že si rezervují zájezd minimálně 3 měsíce před odjezdem. Přesné podmínky získání této slevy jsou specifikovány v katalogu zájezdů.
                </p>
        </section>
        <hr>
        <section>
            <p><em>Slevy skupinové, seniorské, časové, případně další se neslučují - je možné uplatnit pouze jednu slevu. Vyjímkou je sleva pro stálé klienty, kterou je možné přičíst ke každé další slevě
                Slevu je nutné uplatnit při objednávce zájezdu. Dodatečné (pozdější) uplatnění slevy není možné.</em></p>
        </section>

        
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->

{% endblock main %}

{% block javascripts %}
{% endblock javascripts %}