{% extends "_base.html.twig" %}

{% block title %}SLANtour - {{ type.name }}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
    <img src="{{ type.image }}" alt="Slide background">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>{{ type.name }}</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <section class="main_description">
            {{ type.description|raw }}

            <!-- End Map -->
        </section>

        {% include "_tour-lists.html.twig" %}
        
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}