{% extends "_base.html.twig" %}

{% block title %}SLANtour - Typy Zájezdů{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
    <img src="../img/poznavaci.png" alt="Slide background">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Typy Zájezdů</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <div class="row">
			{% for type in typesOfTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="../typ-zajezdu.php" class="grid_item">
					<figure>
						<img src="{{ type.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{type.name}}</h3>
							{{type.numberOfTours}} zájezdů od {{type.priceFrom}} Kč
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}